.main {
  border: 1px solid black;
  padding: 0.8rem 1rem;
  background-color: transparent;
  width: 110px;
  letter-spacing: 0.4px;
  align-self: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.main:hover {
  border-color: blue;
}

.danger {
  /* border-color: rgb(239, 93, 93); */
  border-color: var(--danger-color);
  border-radius: 1rem;
  color: rgb(48, 47, 47);
  align-self: flex-end;
  width: 70px;
  padding: 0.5rem;
}

.danger:hover {
  color: var(--danger-color);
  border-color: var(--danger-color);
}

.neutral {
  border-color: var(--secondary-color);
  border-radius: 1rem;
  color: rgb(48, 47, 47);
  align-self: flex-end;
  width: 70px;
  padding: 0.5rem;
}

.neutral:hover {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.filter {
  font-size: 0.8rem;
}

.logout {
  border-radius: 20px;
  padding: 0.8rem 1.5rem;
}

.likeDislikeBtn {
  all: unset;
  border-radius: 50%;
  cursor: pointer;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
}
