.main ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.main ul li:first-child {
  border: 1px solid black;
  border: 1px solid var(--secondary-color);
  padding: 0.6rem 1.5rem;
}

.circleBtn {
  border-radius: 20px;
  border: 1px solid black;
  padding: 0.7rem 1.5rem;
}

.main ul li a {
  font-size: 0.9rem;
  transition: 0.3s;
  cursor: pointer;
}

.main ul li a:hover {
  color: var(--secondary-color);
}

.overlayNavbar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

.overlayNavbar ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}

@media (max-width: 768px) {
  .main ul li a {
    font-size: 0.85rem;
  }
}
