.main {
  /* display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px; */
  /* gap: 1.5rem;
  padding: 1rem; */
  /* padding-top: 0.3rem; */
  border-radius: 0.6rem;
  background-color: var(--primary-color);
  /* justify-content: center;
  align-items: center; */

  margin-top: 0.3rem;
}

.answerForm {
  width: 100%;
  max-width: 600px;
  height: 390px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3rem;
}

.answerForm h1 {
  text-align: center;
  font-size: 1.4rem;
}

.answerForm textarea {
  height: 120px;
  padding: 1rem;
  resize: none;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 768px) {
  .answerForm h1 {
    text-align: center;
    font-size: 1.2rem;
  }
}
