.main {
  height: 60px;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  border-radius: 0.6rem;
  background-color: var(--primary-color);
  margin-top: 0.3rem;
}
