.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  z-index: 4;
}

.main {
  background: white;
  padding: 2rem;
  width: 500px;
  height: 300px;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 3rem;
}

.main h3 {
  font-size: 1rem;
  text-align: center;
}

.modalContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.modalButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.closeBtn {
  background-color: transparent;
  border: none;
  align-self: flex-end;
  cursor: pointer;
}
