.main {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  height: calc(100vh - 130px - 60px - 9.6px);
  border-radius: 0.6rem;
  margin-top: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 3rem;
  gap: 0.8rem;
  text-align: center;
}

.main h1 {
  font-size: 3.5rem;
  letter-spacing: 0.3px;
}

.main h2 {
  text-align: center;
}

.animation {
  width: 120px;
  height: 60px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background: #fff;
  filter: blur(5px) contrast(10);
  mix-blend-mode: darken;
}

.animation:before,
.animation:after {
  content: "";
  width: 40px;
  border-radius: 50%;
  background: #1f24b0;
  animation: l3 1s infinite alternate;
}
.animation:after {
  --s: -1;
}
@keyframes l3 {
  90%,
  100% {
    transform: translate(calc(var(--s, 1) * 30px));
  }
}

@media (max-width: 1200px) {
  .main h1 {
    font-size: 3rem;
  }
}

@media (max-width: 992px) {
  .main h1 {
    font-size: 2.5rem;
  }
  .main h2 {
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .main {
    gap: 0.5rem;
  }
  .main h1 {
    font-size: 1.8rem;
  }

  .main h2 {
    font-size: 0.9rem;
  }
}
