.main {
  width: 100%;
  height: 180px;
  border-radius: 0.6rem;
  padding: 1rem 2rem;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */

  display: grid;
  grid-template-columns: 5% 95%;
  align-items: center;
  gap: 1rem;

  cursor: pointer;
  transition: 0.3s ease-in-out;
  background-color: var(--primary-color);
  overflow: hidden;
}

.main:hover {
  background-color: #e3e7ef;
}

.userDateWrapper {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  color: #373737;
}

.questionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0 3rem;
}

.questionContent h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 60%;
}

.questionContent p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}
